@import '../../../common/styles/colors.scss';

.card {
  padding: 0.5em;
  align-items: flex-start;
  transition: all 0.5s;
}

.cardInvited {
  opacity: 0.6;
}

.invitedAvatar {
  border-radius: 100%;
  transition: all 0.5s;
}

.invitedButton {
  background-color: transparent !important;
}

// colorMode colors
.isSrcAvatar {
  background-image: none;
  background-color: transparent !important;
}

.invitedAvatarDark {
  background-color: $border-focus--dark !important;
  border-color: $border-focus--dark !important;
}

.invitedAvatarLight {
  background-color: $border-focus--light !important;
  border-color: $border-focus--light !important;
}

.failAvatar {
  background-color: $delete-color !important;
  border-color: $delete-color !important;
}

.darkCard {
  background-color: $on-surface-bg--dark;
}

.lightCard {
  background-color: $on-surface-bg--light;
}
