// standard surface (manu-bar, tile, window-back)
$surface-bg--dark: #091A2A;
$surface-bg--light: red;

// header bar
$header-bg--dark: #102A43;
$header-bg--light: red;

// any bar (window)
$bar-bg--dark: #102A43;
$bar-bg--light: red;

// color of hover border and shadow
$border-hover--dark: #63b3ed;
$border-hover--light: red;

// color of focus border and shadow
$border-focus--dark: #63b3ed;
$border-focus--light: red;

// color of avatar background
$avatar-bg--dark: #102A43;
$avatar-bg--light: red;

// text color
$text--dark: #ffffff;
$text--light: #000000;

// window shadow (window)
$window-shadow--dark: #000000;
$window-shadow--light: #e7e7e7;