@import '../../styles/colors.scss';

.content {
  background-color: $surface-bg--dark !important;
  border-radius: 0 !important;
}

.header {
  padding: 0 0.8rem !important;
  background: $header-bg--dark;
}

.body {
  padding: 0.8rem !important;
}
