@import '../../styles/colors.scss';

.paginationButton:enabled:focus {
  box-shadow: 0 0 0 1px $border-focus--dark !important;
}

.pagination {
  min-width: 1.5rem;
  height: 1.5;
  margin-right: 0.5em;
}

.paginationDark {
  background-color: $input--dark;
}

.paginationLight {
  background-color: $input--light;
}
