@import '../../../common/styles/colors.scss';

.surface {
  padding: 0.8rem;
  width: min-content;
}
.surfaceDark {
  background-color: $primary-bg--dark;
}
.surfaceLight {
  background-color: $primary-bg--light;
}
