@import '../../styles/colors.scss';

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
}

.barDark {
  background-color: $bar-bg--dark;
}
.barLight {
  background-color: $bar-bg--light;
}
